
html,
body {
  height: 100%;
  background-color: #E9E8E3;
  /* The html and body elements cannot have any padding or margin. */
}

.container-non-responsive {
  /* Margin/padding copied from Bootstrap */
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;

  /* Set width to your desired site width */
  width: 400;

}

/* Wrapper for page content to push down footer */
#wrap {
  /*min-height: 100%;*/
  height: 665px;
  width: 400px;
  
  /*border: 1px solid #555555;
  border-radius: 3px;*/
  
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#viewMain {
	
    height: 665px;
    width: 400px;
    background-color: #91c3f2;
    
    /*margin-left: 10px;
    margin-top: 10px;*/

}
/*@media only screen and (max-width: 1000px){
    #wrap, #viewMain { 
        width: 100%; 
        height: 100%;
        }
}*/

.container, .col-md-8, .col-md-4, .col-md-7, .col-md-5, .col-md-12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.row {
    margin-right: 5px !important;
    margin-left: 0px !important;
}

