
.main-menu {
	height: 100%;
    /*position: absolute;*/
	width: 100%;
	/*margin: 150px auto;*/
	text-align: center;
    /*background-color: red;*/
}

#startButton {
	margin-top: 30px;
}

#introHeader {
	font-size: 96px;
}

#introText {
	margin-top: 10px;
	font-size: 16px;
}

#introImage {
	margin-top: 10px;
	margin-bottom: 20px;
}