.stats-group{
    display: inline-block; 
    bottom: 55px;
    height: 25px;   
    width: 400px; 
    z-index: 2; 
    position: absolute;
}

.stats-block{
    float: left;
    margin-right: 5px;
    height: 25px;
    width: 100px;
    background-color: black;
    opacity: 0.5;
}

.stats-block p {
    margin-left:4px;
    margin-right:4px;
    opacity: 1;
}

.stats-block2 {
    width: 190px;
}